/* resetting browser stuff */
*     {
  box-sizing: border-box;
}
html,
body   {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  font-style: italic;
}

/* styling our overall page */
body     {
  background: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}

/* styling our header */
header   {
  background: #222;
  color: #FFF;
  padding: 20px 30px;
}

/* logo */
#logo         {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  width: 49%;
}
#logo img    {
  width: 50px;
  border-radius: 3px;
  margin-right: 8px;
  vertical-align: middle;
}
#logo span   {
  display: inline-block;
}
  /* Style the "active" element to highlight the current page */
 .active   {
    background-color: rgba(255, 38, 30, 0.63);
    color: white;
}
/* main navigation */
nav     {
  width: 50%;
  display: inline-block;
  text-align: right;
}
nav ul   {
  list-style: none;
  margin: 0;
}
nav ul li {
  display: inline-block;
}
nav ul li a    {
  color: #FFF;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 3px;
  transition: 0.3s ease all;
}
nav ul li a:hover   {
  background: #444;
}

/* styling our footer */
footer   {
  background: #222;
  color: #777;
  padding: 30px;
  text-align: center;
}
footer img   {
  display: block;
  border-radius: 5px;
  width: 80px;
  margin: 0 auto 10px;
}

/* styling our main content */
.hero           {
  min-height: 800px;
  text-align: center;
  background: linear-gradient(rgba(255, 30, 34, 0.53),#FBDEDF),url(https://github.com/Dolsity/dolsity.github.io/blob/main/img/smoked.png?raw=true);
  background-size: cover;
}
.hero-content   {
  color: #FFF;
  padding-top: 130px;
}
.hero-content h1   {
  font-size: 100px;
  margin: 0;
}
.hero-content p    {
  font-size: 50px;
}
.hero-content a    {
  display: inline-block;
  color: #FFF;
  border: 3px solid #FFF;
  border-radius: 3px;
  padding: 15px 30px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 28px;
}
.banner-btn {
    margin: 70xp auto 0;
}
.banner-btn a{
    width:150xp;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    bottom: -6px;
    z-index: 1;
    transition: color 0.5s;
}
.banner-btn a span {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;
}
.banner-btn a:hover{
    color: #000;
}

/* basic site sections */
.site-section   {
  padding-bottom: 50px;
  padding-top: 50px;
  background: linear-gradient(rgba(255,255,255,1),#FF261E);
}
.site-section-secondary   {
  background: #EFEFEF;
}
.site-section-inside   {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.section-header {
  text-align: left;
  margin-bottom: 0px;
} 
.section-header h2  {
  font-size: 45px;
  letter-spacing: 2px;
  font-weight: 300;
  color: #ffffff;
}
.section-header p  {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 300;
  color: #ffffff;
}

/* feature boxes */
.feature-box   { 
  display: inline-block;
  padding: 10px 30px;
  text-align: center;
  color: #ffffff;
}
.feature-box img  {
  margin-bottom: 12px;
  width: 80px;
}
.feature-box h5   {
  font-size: 30px;
  color: #999;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  color: #ffffff;
}
.feature-box h6   {
  font-size: 18px;
  color: #999;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0; 
  color: #ffffff;
} 
#hero-content {
  padding-top: 50px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center;
}


/* PROJECTS*/

.projects-container {
    display: grid;
    grid-template-rows: 1fr;
    background: #FBDEDF;
}

.projects {
    grid-row: 1 / -1;
    grid-column: 2 / 2;
    color: #37474f;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    justify-content: center;
    align-items: stretch;
}

.projects h1 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: 600;
    color: rgba(55, 71, 79, 1);
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

.projects h2 {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-weight: 200;
    color: rgba(55, 71, 79, 0.9);
    margin-bottom: 1.5rem;
}

.projects h2 a {
    color: rgb(55, 71, 79);
    text-decoration: none;
    border-bottom: 1px rgb(55, 71, 79) dotted;
}

.projects-cards-container {
    width: 100%;
    display: flex;
    align-items: space-between;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.projects-card {
    position: relative;
    overflow: hidden;
    min-height: 10rem;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem;
    border-radius: 3px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
}

.projects-card h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-decoration: solid;
    letter-spacing: 0.08rem;
    transition: margin 0.5s;
}

.projects-card:hover h3 {
    margin-top: -13.5rem;
    transition: margin 0.5s;
}

#fora {
    background: url("https://github.com/Dolsity/dolsity.github.io/blob/main/img/fora.jpg?raw=true");
    background-size: cover;
    box-shadow: inset 0 0 0 900px rgba(91, 77, 117, 0.7);
}

#something1 {
    background: url("https://github.com/Dolsity/dolsity.github.io/blob/main/img/gta-v.jpg?raw=true");
    background-size: cover;
    box-shadow: inset 0 0 0 900px rgba(91, 77, 117, 0.7);
}

.project-description {
    position: absolute;
    top: 10rem;
    transition: top 0.5s;
    padding: 0 1rem;
    font-weight: 400;
}

.projects-card:hover section {
    top: 2rem;
    transition: top 0.5s;
}

.projects-card a {
    text-decoration: none;
}

.github-link {
    background: transparent url("https://raw.githubusercontent.com/Dolsity/dolsity.github.io/9b9af0e5c739c3865677f03cb4ca19a00bdd4450/img/ic.svg");
    background-size: cover;
    border: none;
    text-decoration: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}
.website-link {
    background: transparent url("https://raw.githubusercontent.com/Dolsity/dolsity.github.io/9b9af0e5c739c3865677f03cb4ca19a00bdd4450/img/page.svg");
    background-size: cover;
    border: none;
    text-decoration: none;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}
