{% assign primary_color = "#766e5f" %}
{% assign user = site.github.owner %}

{% assign username = user.login %}
{% assign mention_username = "@" | append: username | downcase %}

{% assign user_name = user.name %}
{% if user_name == null %}
  {% assign user_name = username %}
{% endif %}

<!DOCTYPE html>
<html class="min-height-full">
  <head>
    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="{{ username }}">
    <meta name="author" content="{{ username }}">
    <meta name="description" content="{{ user_name }} ({{ mention_username }}) is a full-stack developer. Check out his projects here!" />
    <meta property="og:title" content="{{ user_name }} ({{ mention_username }})" />
    <meta property="og:site_name" content="{{ username }}" />
    <meta property="og:description" content="{{ user_name }} ({{ mention_username }}) is a full-stack developer. Check out his projects here!" />
    <meta property="og:image" content="{{ user.avatar_url }}" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <!-- TITLE -->
    <title>{{ mention_username }}</title>
    <!-- STYLESHEETS -->
    <link href="{{ "./assets/css/styles.css" | relative_url }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
        crossorigin="anonymous"
    />
    <!-- FAVICONS -->
    <link rel="shortcut icon" href="{{ user.avatar_url }}" type="image/x-icon">
    <link rel="icon" href="{{ user.avatar_url }}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{ user.avatar_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ user.avatar_url }}">
    <link rel="apple-touch-icon" sizes="32x32" href="{{ user.avatar_url }}">
    <link rel="apple-touch-icon" sizes="16x16" href="{{ user.avatar_url }}">
    <link rel="manifest" href="{{ user.avatar_url }}">
    <link rel="mask-icon" href="{{ user.avatar_url }}">
    <meta name="msapplication-TileColor" content="{{ primary_color }}">
    <meta name="theme-color" content="{{ primary_color }}">
    <!-- SCRIPTS -->
    <script src="https://unpkg.com/typewriter-effect/dist/core.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- NAVIGATION -->
    <nav class="navbar">
      <div class="navbar_container">
        <!-- NAVIGATION LOGO -->
        <a href="/" id="navbar_logo">
          <img src="{{ user.avatar_url }}" alt="dolsity.png">
          <span>{{ username }}</span>
        </a>
        {% if page.url != "/404.html" %}
          <!-- MOBILE & TABLET NAVIGATION -->
          <div class="navbar_toggle" id="mobile_menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
          <!-- DESKTOP & MOBILE NAVIGATION BUTTONS -->
          <ul class="navbar_menu">
            <li class="navbar_item">
              <a href="#home" class="navbar_links" id="home_section">Home</a>
            </li>
            <li class="navbar_item">
              <a href="#skills" class="navbar_links" id="skills_section">My Skills</a>    
            </li>
            <li class="navbar_item">
              <a href="#projects" class="navbar_links" id="projects_section">My projects</a>
            </li>
          </ul>
        {% endif %}
      </div>
    </nav>
  </head>
  <body>
    <!-- SCRIPTS -->
    {% if page.url != "/404.html" %}
      <script src="{{ "./scripts/navbar.js" | relative_url }}"></script>
    {% endif %}
