{% include header.html %}

        <div style="background: linear-gradient(#7d7a69, #898989); display: flex; justify-content: center;">
            <div style="text-align: center; padding: 15px; margin: 30px 0; height: 100%;">
                <div style="color: white;">
                    <h1 style="font-size: 40px; font-weight: 500; margin: 20px 0;">
                        {{ page.title }}
                    </h1>
                        {{ content }}
                </div>
            </div>
        </div>

{% include footer.html %}