<!-- HEADER -->
{% include header.html %}
  
        <!-- LANDING 1/3 -->
        <article class="landing_container" id="home">
            <section class="landing">
                <!-- LANDING TITLES -->
                <section class="landing_titles">
                    <h1>{{ user_name }}</h1>
                    <h2>Full-Stack Developer</h2>
                </section>
                <!-- LAPTOP -->
                <section class="laptop_container">
                    <!-- LAPTOP BODY -->
                    <span class="laptop_top_lip"></span>
                    <span class="laptop_left_lip"></span>
                    <span class="laptop_right_lip"></span>
                    <span class="laptop_webcam_container">
                        <span class="laptop_webcam"></span>
                    </span>
                    <!-- LAPTOP SCREEN -->
                    <section class="laptop_screen_container">
                        <!-- CODE EDITOR -->
                        <section class="editor_box_header">
                            <div class="mac_buttons">
                                <span class="mac_button red"></span>
                                <span class="mac_button yellow"></span>
                                <span class="mac_button green"></span>
                            </div>
                        </section>
                        <!-- CODE EDITOR CONTAINER -->
                        <section class="editor_container">
                            <!-- CODE EDITOR LINES-->
                            <span class="editor_number_line">
                                1<br>2<br>3<br>4<br>5<br>6<br>7<br>8<br>9<br>10<br>11<br>12<br>13<br>14
                            </span>
                            <div id="laptop_typewriter"></div>
                        </section>
                    </section>
                </section>
            </section>
        </article>

        <!-- SKILLS 2/3 -->
        <article class="skills_container" id="skills">
            <section class="skills">
                <!-- SKILLS TITLES -->
                <section class="skills_titles">
                    <h1>My Skills</h1>
                    <h2>Languages, tools, and everything in-between that I've taken time to learn and use.</h2>
                </section>
                <!-- SKILL CARD CONTAINER -->
                <section class="skills_cards_container">
                    <!-- SKILL CARDS -->
                    {% if site.skills %}
                        {% for skill in site.skills %}
                            {% include skill-card.html %}
                        {% endfor %}
                    {% endif %}
                </section>   
            </section>         
        </article>

        <!-- MY PROJECTS 3/3 -->
        <article class="project_container" id="projects">
            <section class="projects">
                <!-- PROJECT TITLES -->
                <section class="project_titles">
                    <h1>My Work</h1>
                    <h2>Want to see more work? Check out my <a href="{{ user.html_url }}?tab=repositories" target="blank">GitHub</a>.</h2>
                </section>
                <!-- CARD CONTAINER -->
                <section class="project_card_container">
                    <!-- PROJECT CARDS -->
                    {% if site.projects %}
                        {% for project in site.projects %}
                            {% include project-card.html %}
                        {% endfor %}
                    {% endif %}
                </section>
            </section>
        </article>

<!-- FOOTER -->
{% include footer.html %}